.offer-wrapper {
    width: 100%;
    margin-top: 30px;
    padding: 20px;
  }
  
  /* VIDEO */
  .offer-video video {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 20px;
  }
  
  /* SLIDER */
  .slider-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .slider {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .slider::-webkit-scrollbar {
    display: none;
  }
  
  .offer-card {
    min-width: 260px;
    height: 160px;
    border-radius: 16px;
    overflow: hidden;
    flex-shrink: 0;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s ease;
  }
  
  .offer-card:hover {
    transform: scale(1.03);
  }
  
  .offer-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* ARROWS */
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    font-size: 30px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    z-index: 10;
  }
  
  .arrow-left {
    left: -10px;
    
  }
  
  .arrow.right {
    right: -10px;
  }
  
  /* MOBILE */
  @media (max-width: 768px) {
  .offer-video video {
    height: 180px;
  }

  .offer-card {
    min-width: 220px;
    height: 130px;
  }

  .arrow {
    width: 36px;
    height: 36px;
    font-size: 22px;
  }

  .arrow-left {
    left: 5px;   /* avoid negative */
 
    width:6px;
  }

  .arrow-right {
    right: 5px;  /* avoid negative */
       width: 6px;
  }
}

  